root { }

body , html {
  align-items: center;
  background: rgba( 255 , 255 , 0 , 1 );
  color: rgba( 0 , 0 , 0 , 1 );
  display: flex;
  height: 100 vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100vw;
}

.tag {
  align-items: center;
  display: flex;
  justify-content: center;
  position: fixed;
}

input {
  background: rgba( 255 , 255 , 0 , 1 );
  border: none;
  color: rgba( 0 , 0 , 0 , 1 );
  font-size: 1.8vw;
  height: 48px;
  margin: 0 8px;
  outline: none;
  padding: 0 4px;
  text-align: center;
  width: 64px;
}

input::placeholder { color: rgba( 0 , 0 , 0 , 1 ); }

input::selection { background: none; }